################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Web.Test.config.secret

venv
.cache

/src/TestResults
/src/RunTestSuite.txt
/src/tools/BacpacDownloads
.vs
.vscode
.DS_Store

**/npm-debug.log:wwq:wq

*.bacpac

*.user
**/gulp.*.log
**/npm-debug.log

Web.Test.config.secret
**/TrainingApi/StaticFiles/Admin/

node_modules
.curl/

venv

obj/
bin/
venv

.idea/
ProblemSource/.DS_Store
